In [2]:
import pandas as pd

df = pd.read_csv('../data/pedido.csv')
df

,idPedido,dtPedido,flKetchup,descUF,txtRecado
0,0,2023-05-11T10:59:33.000+0000,NaN,Goiás,NaN
1,1,2023-05-11T11:23:42.000+0000,NaN,Paraná,Aquela pizza perfeita! :-D
2,2,2023-05-11T11:24:29.000+0000,NaN,São Paulo,Muito obrigado!!
3,3,2023-05-11T11:29:39.000+0000,NaN,São Paulo,NaN
4,4,2023-05-11T11:31:30.000+0000,NaN,Rio Grande do Sul,Capricha no peperoni
...,...,...,...,...,...
1101,1101,2023-05-25T16:47:40.000+0000,True,Sergipe,Esse formulário deu fome no meio do expediente...
1102,1102,2023-05-25T16:55:35.000+0000,False,São Paulo,NaN
1103,1103,2023-05-25T17:07:05.000+0000,False,São Paulo,Bastante queijo
1104,1104,2023-05-25T18:18:02.000+0000,True,São Paulo,NaN
1105,1105,2023-05-25T18:27:12.000+0000,False,São Paulo,Favor deixar a massa crocante e lave as mãos.

In [3]:
df.columns

Index(['idPedido', 'dtPedido', 'flKetchup', 'descUF', 'txtRecado'], dtype='object')

In [4]:
df.shape

(1106, 5)

In [5]:
df.index

RangeIndex(start=0, stop=1106, step=1)

In [6]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1106 entries, 0 to 1105
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   idPedido   1106 non-null   int64
 1   dtPedido   1106 non-null   object
 2   flKetchup  1097 non-null   object
 3   descUF     1106 non-null   object
 4   txtRecado  538 non-null    object
dtypes: int64(1), object(4)
memory usage: 297.7 KB

In [11]:
tipos_colunas = df.dtypes
tipos_colunas

idPedido      int64
dtPedido     object
flKetchup    object
descUF       object
txtRecado    object
dtype: object

In [5]:
df.head(20)

,idPedido,dtPedido,flKetchup,descUF,txtRecado
0,0,2023-05-11T10:59:33.000+0000,NaN,Goiás,NaN
1,1,2023-05-11T11:23:42.000+0000,NaN,Paraná,Aquela pizza perfeita! :-D
2,2,2023-05-11T11:24:29.000+0000,NaN,São Paulo,Muito obrigado!!
3,3,2023-05-11T11:29:39.000+0000,NaN,São Paulo,NaN
4,4,2023-05-11T11:31:30.000+0000,NaN,Rio Grande do Sul,Capricha no peperoni
5,5,2023-05-11T11:32:44.000+0000,NaN,São Paulo,NaN
6,6,2023-05-11T11:47:54.000+0000,NaN,Ceará,Espero que não dropem minha pizza ^^
7,7,2023-05-11T11:52:31.000+0000,NaN,São Paulo,Forno a lenha por favor.
8,8,2023-05-11T12:01:49.000+0000,NaN,Goiás,NaN
9,9,2023-05-11T12:18:25.000+0000,True,Rio de Janeiro,NaN
10,10,2023-05-11T12:19:47.000+0000,True,Goiás,"Amo vocês, quero dividir a pizza com vocês ♥️"
11,11,2023-05-11T12:45:48.000+0000,True,Minas Gerais,Certeza que vai ser um evento sensacional como...
12,12,2023-05-11T12:56:52.000+0000,False,São Paulo,Show
13,13,2023-05-11T13:05:24.000+0000,False,Rio Grande do Sul,Vocês são sensacionais <3
14,14,2023-05-11T13:33:49.000+0000,True,São Paulo,Espero que esta pizza esteja tão boa quanto as...
15,15,2023-05-11T14:19:14.000+0000,False,São Paulo,Capricha!
16,16,2023-05-11T14:47:39.000+0000,False,São Paulo,#VAIIII <3
17,17,2023-05-11T15:16:49.000+0000,False,São Paulo,Quero um evento de pizzas mesmo hahaha ia ser ...
18,18,2023-05-11T15:36:52.000+0000,True,Santa Catarina,NaN
19,19,2023-05-11T15:48:08.000+0000,True,Bahia,Aguardando muito esse treinamento. O Téo tem u...

In [10]:
df.tail(5)

,idPedido,dtPedido,flKetchup,descUF,txtRecado
1101,1101,2023-05-25T16:47:40.000+0000,True,Sergipe,Esse formulário deu fome no meio do expediente...
1102,1102,2023-05-25T16:55:35.000+0000,False,São Paulo,NaN
1103,1103,2023-05-25T17:07:05.000+0000,False,São Paulo,Bastante queijo
1104,1104,2023-05-25T18:18:02.000+0000,True,São Paulo,NaN
1105,1105,2023-05-25T18:27:12.000+0000,False,São Paulo,Favor deixar a massa crocante e lave as mãos.

In [11]:
df.sample(10)

,idPedido,dtPedido,flKetchup,descUF,txtRecado
251,251,2023-05-18T09:38:39.000+0000,True,Rio Grande do Sul,NaN
991,991,2023-05-24T20:10:04.000+0000,True,Maranhão,NaN
456,456,2023-05-23T17:28:20.000+0000,False,São Paulo,Bora pra cima
428,428,2023-05-23T13:30:31.000+0000,True,Rio de Janeiro,NaN
245,245,2023-05-17T21:55:17.000+0000,True,Espírito Santo,NaN
827,827,2023-05-24T16:12:38.000+0000,True,Pernambuco,Não tem combinação melhor!
884,884,2023-05-24T17:38:10.000+0000,True,Rondônia,Entregar a pizza quentinha no capricho!
465,465,2023-05-23T18:29:34.000+0000,True,Ceará,NaN
1035,1035,2023-05-24T21:42:23.000+0000,False,São Paulo,NaN
403,403,2023-05-23T11:25:52.000+0000,True,Rio de Janeiro,NaN